button{
  background-color: #f39821;
  color: white;
  border: none;
  height: 40px;
  width: 105px;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.15s;
  font-weight: 500;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

button:hover {
  opacity: 0.8;
  background-color: black;
}

.mainDiv{
  margin-bottom: 20px; 
  border-radius: 30px; 
  border-width: 1px;
  display:flex;
  flex-direction: row;
  margin-left: 40px;
  padding-top: 30px;
}

.word1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 31px;
  margin-top: -20px;
  justify-self: center;
  color: #f39821;
  font-weight: 700;
  margin-left: -15px;
  text-align: center;
}


.boxCover:hover {
  box-shadow: black;
  transform: scale(1.1);
  transition: box-shadow 0.15s;
  box-shadow: 5px 5px 5px 5px rgb(51, 51, 51);
}

.price {
  font-family: "Raleway", Sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
  margin-left: 5px;
  text-align: center;
  font-weight: bolder;
}

.duration {
  font-family: "Raleway", Sans-serif;
  font-weight: 500;
  font-size: 13px;
  margin-left: 5px;
  text-align: center;
}