nav {
    height: 140px;
    width: 1475px;
background-color: white;
display: flex;
}
.btn {
    font-size: 16px;
    border: 1px;
    height: 58px;
    width: 165px;
    background-color: orange;
    border-radius: 8px;
    margin-top: 2%;
    font-weight: bold;
    color: white;
    margin-left: 63%;
text-align: center;
line-height: 1;
cursor: pointer;

}
.btn {
    background-color: orange;
}
.btn:hover {
    background-color: black;
}
.image-class {
    height: 70px;
    width: 250px;
    margin-top: 15px;
    margin-left: 5%;
}